@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<style type="text/css">
    body {
        background-color: darkslategray;
    }
</style>


<div style="color:aliceblue ;font-size: 60pt; text-align: center ;min-height: 60pt; background-color:rgb(6,51,96)">

    Karnıyarık Tarifi
</div>
<h1>Karnıyarık Tarifi!</h1>
<div style="color:aliceblue">
    <ul>
        <li>Karnıyarık Tarifi, Nasıl Yapılır?</li>

    </ul>
    <ol>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Patlıcanları çizgili soyup, yarım saat yağ çekmemesi için tuzlu suda bekletin.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            İyice yıkadıktan sonra suyunu havlu ile çektirin ve az yağda kızartın. 3 adet biberi de yağda kızartın.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Daha sonra aynı tavada doğranmış soğanları kavurun, kıymayı ekleyerek bir müddet daha kavurun ve biberleri, sarımsağı ekleyerek 2 dakika daha kavurun.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Küp küp doğramış olduğunuz 2 adet domatesi, tuzu, baharatları ekleyerek karıştırın.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Üzerine bir çay bardağı su ekleyerek 5 dk kaynatın.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Tepsiye patlıcanların ortalarını keserek yerleştirin ve bu kesiklerden patlıcanın içine bastırarak iç malzemesine yer açın ve malzeme ile patlıcanları doldurun.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Doldurduğunuz patlıcanların üzerine ortadan ikiye kestiğiniz çeri domatesi ya da 1 adet domatesi eşit büyüklükte olacak şekilde paylaştırın ve kızarttığımız biberlerden birer tane koyun.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Ayrı bir yerde 1 kaşık salçayı, 1 su bardağı sıcak suda ezerek patlıcanların aralarına dökün. Kıymalar çıkmasın diye üzerine dökmeyin.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Daha sonra 170 derece de ısıttığınız fırına sürerek 20-25 dk pişirin. Dilerseniz bu işlemi pilav tenceresi gibi bir tencerede ocakta yapabilirsiniz. Aynı sürede tencerede de  pişecektir.
        </li>
    </ol>
    <a class="btn btn-primary" href="/Anasayfa/Anasayfa" role="button">Daha fazla tarif!</a>
</div>