@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<style type="text/css">
    body {
        background-color: darkslategray;
    }
</style>


<div style="color:aliceblue ;font-size: 60pt; text-align: center ;min-height: 60pt; background-color:rgb(6,51,96)">

    Kereviz Yemeği Tarifi
</div>
<h1>Kereviz Yemeği Tarifi!</h1>
<div style="color:aliceblue">
    <ul>
        <li>Kereviz Yemeği Tarifi, Nasıl Yapılır?</li>

    </ul>
    <ol>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Patateslerin kabuklarını güzelce soyup, yıkıyoruz. Aynı şekilde kereviz kafalarını ve havuçları da soyalım.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Hepsini küp küp doğrayıp, orta ateşte yağda kavuruyoruz.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            İçerisine, yemeklik doğranmış soğanı ilave ediyoruz.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Soğan kavrulduktan sonra, kerevizin sap ve yapraklarını ince doğrayıp iyice yıkayıp tencereye alıyoruz.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Bir iki karıştırıp, içerisine üzerini kaplayacak şekilde sıcak suyu ve tuzunu koyuyoruz.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Terbiyesi için; kavanoza un, limon ve yumurta sarısını koyup, iyice çalkalıyoruz. Dilerseniz uygun bir kasede çırpıcı ile çırpabilirsiniz.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Kereviz, havuç ve patatesler pişip yumuşadığında terbiyesini de döküp, 5 dk. daha kaynatıyoruz.
        </li>

    </ol>
    <a class="btn btn-primary" href="/Anasayfa/Anasayfa" role="button">Daha fazla tarif!</a>
</div>