@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<style type="text/css">
    body {
        background-color: darkslategray;
    }
</style>


<div style="color:aliceblue ;font-size: 60pt; text-align: center ;min-height: 60pt; background-color:rgb(6,51,96)">

    Makarna Tarifi
</div>
<h1>Makarna Tarifi!</h1>
<div style="color:aliceblue">
    <ul>
        <li>Makarna Tarifi, Nasıl Yapılır?</li>

    </ul>
    <ol>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Kremalı domatesli makarna için öncelikle zeytinyağı, rondodan geçirdiğimiz domatesleri ve salçaları tavamıza alıp, karıştırarak 2-3 dakika kavuralım.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Kremayı ve tereyağını da ekleyip, tereyağı eriyene kadar karıştıralım.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Makarnayı da ekleyerek tekrar karıştıralım ve suyumuzu ekleyelim.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Suyumuz kaynadıktan sonra sarımsak ve baharatları ekleyelim, karıştıralım.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            Ocağımızı orta ateşe alıp kapağı kapalı bir şekilde suyu çekene kadar pişirelim. Pişme süresi değişiklik gösterebilir, bu aşamada kontrollü olmalısınız.
        </li>
        <li class="fonts" style="color: aliceblue; font-size: 14pt;">
            İsterseniz piştikten sonra taze veya kuru maydanoz ekleyip karıştırabilirsiniz.
        </li>

    </ol>
    <a class="btn btn-primary" href="/Anasayfa/Anasayfa" role="button">Daha fazla tarif!</a>
</div>