@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />

<style type="text/css">
    body {
        background-color: darkslategray;
    }

    .border {
        border-radius: 5pt
    }
</style>


<div style="color:aliceblue ;font-size: 60pt; text-align: center ;min-height: 60pt; background-color:rgb(6,51,96)">

    Anasayfa
</div>
<div style="margin: 20pt auto" class="container text-center">
    <div class=" row">

        <div class="card col" style="width: 18rem;">
            <img src="~/img/manti.jpg" class="card-img-top border" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mantı</h5>
                <p class="card-text">Yemeğin tarifini öğrenmek için "Tarifi öğren" butonuna basınız!</p>
                <a href="/Yemek/Manti" class="btn btn-primary">Tarifi öğren</a>
            </div>
        </div>

        <div class="card col" style="width: 18rem;">
            <img src="~/img/makarna.jpg" class="card-img-top border" alt="...">
            <div class="card-body">
                <h5 class="card-title">Makarna</h5>
                <p class="card-text">Yemeğin tarifini öğrenmek için "Tarifi öğren" butonuna basınız!</p>
                <a href="/Yemek/Makarna" class="btn btn-primary">Tarifi öğren</a>
            </div>
        </div>

        <div class="card col" style="width: 18rem;">
            <img src="~/img/yapraksarma.jpg" class="card-img-top border" alt="...">
            <div class="card-body">
                <h5 class="card-title">Yaprak sarma</h5>
                <p class="card-text">Yemeğin tarifini öğrenmek için "Tarifi öğren" butonuna basınız!</p>
                <a href="/Yemek/Yapraksarma" class="btn btn-primary">Tarifi öğren</a>
            </div>
        </div>

    </div>
</div>

<div style="margin: 20pt auto" class="container text-center">
    <div class=" row">

        <div class="card col" style="width: 18rem;">
            <img src="~/img/pilav.jpg" class="card-img-top border" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pilav</h5>
                <p class="card-text">Yemeğin tarifini öğrenmek için "Tarifi öğren" butonuna basınız!</p>
                <a href="/Yemek/Pilav" class="btn btn-primary">Tarifi öğren</a>
            </div>
        </div>

        <div class="card col" style="width: 18rem;">
            <img src="~/img/kereviz.jpg" class="card-img-top border" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kereviz</h5>
                <p class="card-text">Yemeğin tarifini öğrenmek için "Tarifi öğren" butonuna basınız!</p>
                <a href="/Yemek/Kereviz" class="btn btn-primary">Tarifi öğren</a>
            </div>
        </div>

        <div class="card col" style="width: 18rem;">
            <img src="~/img/karniyarik.jpg" class="card-img-top border" alt="...">
            <div class="card-body">
                <h5 class="card-title">Karnıyarık</h5>
                <p class="card-text">Yemeğin tarifini öğrenmek için "Tarifi öğren" butonuna basınız!</p>
                <a href="/Yemek/Karniyarik" class="btn btn-primary">Tarifi öğren</a>
            </div>
        </div>

    </div>
</div>